footer{
    background-color: #252525;
    
    a{
        color: #797979;
        &:hover{
            color: #fa2456;
        }
    }
    .main-footer-logo{
        width: 100%;
        max-width: 250px;
        min-width: 250px;
        margin: 0 auto;
        height: 235px;
        line-height: 200px;
        text-align: center;
        background-image: linear-gradient(to right, #fa2456, #fd735a);
        border-radius: 0px 0px 50% 50%;
    }
    .footer-content{
        max-width: 860px;
        margin: 0 auto;
        margin-top: 50px;
        .media-icon{
            display: flex;
            justify-content: center;
            column-gap: 10px;
            margin-top: 30px;
            li{
                a{
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    border: 1px solid #828282;
                    border-radius: 50%;
                    color: #828282;
                    @include transition;
                    &:hover{
                        @include linear-gradient;
                        color: #ffffff;
                        border-color: transparent;
                    }
                }
            }
        }
    }
    .bootem-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #828282;
        padding: 30px 0;
        margin-top: 30px;
        p{
            span{
                color: #fa2456;
            }
        }
        ul{
            display: flex;
            justify-content: flex-end;
            column-gap: 30px;
        }
    }
}